.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  object-fit: contain;
  width: 100%;
  z-index: 100;
  margin-bottom: 20px;
}

.checkout__items {
  display: flex;
  flex-direction: column;
}

.checkout__basketMessage {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}
